* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.logo {
  width: 200px;
}
.container-header {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  gap: 100px;
  align-items: center;
}

nav {
  text-align: center;
  margin-left: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

ul li {
  text-transform: capitalize;
}

a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

a:hover, a:active {
  color: #f4ce14;
}

section {
  width: 100%;
}

.landing-section {
  background-color: #495e57;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
}

.landing-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-header {
  color: #f4ce14;
  font-size: 56px;
}

.location {
  color: #edefee;
  font-size: 32px;
}

.description {
  color: #edefee;
  font-size: 20px;

}

.landing-img {
  width: 395px;
  height: 345px;
  object-fit: cover;
  border-radius: 15px;
  margin-left: auto;
}

.btn-cta {
  width: 200px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #495e57;
  background-color: #f4ce14;
  color: #333;
  cursor: pointer;
}

.btn-cta:hover {
  background-color: #edefee;
  color: #f4ce14;
}

.container-specials {
  padding: 100px 25px;
  flex-direction: column;
  gap: 60px;
}

.specials-title-container {
  display: flex;
}

.specials-title {
  font-weight: 500;
  font-size: 40px;
  color: #333;
}

.specials-btn {
  margin-left: auto;
}

.cards-container {
  display: flex;
  gap: 10%;
}
.card {
  width: 30%;
  background-color: #edefee;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  color: #333;
}

.card-details {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-title-price-container {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.card-price {
  margin-left: auto;
  font-size: 16px;
  color: #ee9972;
  font-weight: bold;
}

.card-description {
  color: #495e57;
  font-size: 16px;
}

.delivery-link:link {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.testimonial-section {
  background-color: #495e57;
  padding: 90px 0;
}

.container-testimonial {
  flex-direction: column;
  gap: 40px;
}

.testimonial-heading {
  font-size: 36px;
  text-align: center;
  color: #edefee;
}

.testimonials-container {
  display: flex;
  gap: 10%;
}
.testimonial {
  background-color: #edefee;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid #ee9972;
  border-radius: 30px 0px 30px 30px;
  
}

.rating-heading {
  font-size: 14px;
  color: #333;
}

.rating {
  display: flex;
  gap: 3px;
}

.star {
  width: 20px;
}
.testimonial-person {
  display: flex;
  align-items: center;
  gap: 7px;
}

.testimonial-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.testimonial-name {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}
.review-text {
  font-size: 14px;
  font-style: italic;
  color: #495e57;
}

.location-section {
  padding: 60px;
}

.location-container {
  gap: 40px;
}

.location-details {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location-heading {
  font-size: 64px;
  color: #f4ce14;
}

.location-subheading {
  font-size: 40px;
  color: #495e57;
}

.location-description {
  font-size: 20px;
  color: #495e57;
}
.location-imgs {
  width: 50%;
  position: relative;
}

.location-img {
  width: 500px;
  border-radius: 7px;
}

.loc1 {
  position: relative;
  left: 250px;
  z-index: 2;
}

.loc2 {
  position: relative;
  bottom: 100px;
  z-index: 1;
}

footer {
  color: #edefee;
  font-size: large;
  background-color: #333;
  text-align: center;
  padding: 30px;
}

.copyright {
  font-size: 14px;
  font-style: italic;
}

.logo-footer {
  width: 96px;
  height: 113px;
  margin: auto 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-container-row1 {
  margin: 0 auto;
  display: flex;
  gap: 100px;
}

.footer-nav nav ul {
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
}

.footer-section-title {
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
  color: #f4ce14;
}

.footer-nav a:link, .footer-nav a:visited {
  font-weight: 500;
  font-size: 16px;
  color: #edefee;
}

.footer-nav a:hover, .footer-nav a:active {
  color: #f4ce14;
}

.footer-contact p{
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #edefee;
}